comandosAmbiente_Jupyter.txt
__pycache__/
.ipynb_checkpoints/
venv/
.env
comandosGit.txt
datos_validacion_clinica_sueno.csv
destination_umls_es/
registro_medico.txt
registro_medico_179685.txt
venv_pipe/
venv_pipe_v1/
destination_umls_es_v1/
registro_medico_0.txt
registro_medico_1.txt
registro_medico_3.txt
registro_medico_5.txt
benchmark_data/
lstm_models/
mlp_models/
models/
shap-plots/
vectors/
vectorized_data/
performance_report_old.csv
dataset/
performance_report.csv
verification_report.csv
condaVenv/
colab_early_disease_transformation_old.ipynb
datasets/
installation_manual.txt
performance_report_old_v1.csv
performance_report_old_v2.csv
prueba.yaml
prueba_load_xml.ipynb
*.ipynb
colab_clinical_concept_extraction.ipynb
colab_early_disease_transformation.ipynb
.vscode/
concepts/
concepts_prueba/
condaVenv_2/
datos_entidades_heart.csv
early_data/
manual_enviroment.txt
map/
read_file.py
read_file.sub
extra_nlp.sh
extra_nlp.sub
feature_importance_0.2.jpg
feature_importance_0.2.png
feature_importance_0.25.png
feature_importance_0.3.png
performance_report.xlsx
performance_report_local.csv
performance_report_old_4_junio_2024.csv
performance_zine/
iterative_vector_transformation.py
raw_data/
/envs
!src/**/*/dataset/
concepts_prueba_01/
embeddings/
imagenes/flujoDatosEnglish.svg:Zone.Identifier
manual_phepi/
performance_ing/
pruebas_class_pipe.py
pruebas_clinical_concept_extra.py
pruebas_data_transformation.py
some_functions.py
umls_es/
conda/
cache/
envs_case_analysis/
dataframes/
!colab_case.ipynb
cases_controls/
p_date.sh
!colab_consistency.ipynb
!colab_cnlp_settings.ipynb
!colab_consistency_v2.ipynb
!colab_consistency_v3.ipynb
!colab_explore_data.ipynb